@model MvcSiteMapProvider.Web.Html.Models.SiteMapPathHelperModel
@using System.Web.Mvc.Html
@using System.Linq
@using MvcSiteMapProvider.Web.Html.Models

@foreach (var node in Model)
{
    <li class=@(node == Model.Last() ? "active" : "")>
        @Html.DisplayFor(m => node)
    </li>
}